* {
    cursor: none;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;

    pointer-events: none;
    z-index: 9999;
    will-change: transform;
}

.spin {
    animation: spin 2s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: reduce) {
    .spin {
        animation: none;
    }
}